.success {
  padding: 0.25rem 0.5rem;
  border: solid green 4px;
  border-radius: 5px;
  background-color: lime;
}

.error {
  padding: 0.25rem 0.5rem;
  border: solid darkred 4px;
  border-radius: 5px;
  background-color: red;
}

nav > ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

nav {
  background-color: gray;
}
